/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/.idea
/public/uploads
/public/uploads2
/public/font
/storage
.DS_Store
/mypackages/Viky88/ueditor/laravel-u-editor/vendor
/packages/Viky88/ueditor/laravel-u-editor/vendor