*{
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
}

/* reset */
a{
	text-decoration: none;
	color:inherit;
}

/* margin */
.ml2{margin-left:2px;}
.ml4{margin-left:4px;}
.ml6{margin-left:6px;}
.ml8{margin-left:8px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.mt2{margin-top:2px;}
.mt4{margin-top:4px;}
.mt6{margin-top:6px;}
.mt8{margin-top:8px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mr2{margin-right:2px;}
.mr4{margin-right:4px;}
.mr6{margin-right:6px;}
.mr8{margin-right:8px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mr30{margin-right:30px;}
.mb2{margin-bottom:2px;}
.mb4{margin-bottom:4px;}
.mb6{margin-bottom:6px;}
.mb8{margin-bottom:8px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}

.auto{margin-left:auto; margin-right:auto;}

/* padding */
.pl2{padding-left:2px;}
.pl4{padding-left:4px;}
.pl6{padding-left:6px;}
.pl8{padding-left:8px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl25{padding-left:25px;}
.pl30{padding-left:30px;}
.pt2{padding-top:2px;}
.pt4{padding-top:4px;}
.pt6{padding-top:6px;}
.pt8{padding-top:8px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pr2{padding-right:2px;}
.pr4{padding-right:4px;}
.pr6{padding-right:6px;}
.pr8{padding-right:8px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr25{padding-right:25px;}
.pr30{padding-right:30px;}
.pb2{padding-bottom:2px;}
.pb4{padding-bottom:4px;}
.pb6{padding-bottom:6px;}
.pb8{padding-bottom:8px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}

/* font-size */
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f24{font-size:24px;}
.f28{font-size:28px;}
.f32{font-size:32px;}


/* float */
.l{float:left;}
.r{float:right;}
.clear{clear:both;}

/* position */
.abs{position: absolute;}
.rel{position: relative;}

/* display */
.dn{display:none;}
.db{display:block;}
.dib{display:inline-block;}

/* border */
.bdc{border:1px solid #ccc;}
.blc{border-left:1px solid #ccc;}
.brc{border-right:1px solid #ccc;}
.btc{border-top:1px solid #ccc;}
.bbc{border-bottom:1px solid #ccc;}
.bdd{border:1px solid #ddd;}
.bld{border-left:1px solid #ddd;}
.brd{border-right:1px solid #ddd;}
.btd{border-top:1px solid #ddd;}
.bbd{border-bottom:1px solid #ddd;}
.bde{border:1px solid #eee;}
.ble{border-left:1px solid #eee;}
.bre{border-right:1px solid #eee;}
.bte{border-top:1px solid #eee;}
.bbe{border-bottom:1px solid #eee;}

/* text-align */
.tc{text-align:center;}

/* vertical-align */
.vm{vertical-align:middle;}

/* background */
.bg{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* overflow */
.ovh{overflow: hidden;}

/* 单行文本省略号结尾 */
.ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

/* 过渡效果 */
.trans{
	-webkit-transition:all .3s;	
	transition:all .3s;
}

/* 按钮禁用 */
.disabled{
	outline:0 none; 
	cursor:default!important; 
	opacity:.4; 
	filer:alpha(opacity=40); 
	-ms-pointer-events:none; 
	pointer-events:none;
}
